@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
html,
body {
  overflow: hidden;
}
* {
  position: relative;
  transition: all 0.09s ease-in-out;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  line-height: 1.1;
  outline: none;
}
h1 {
  font-size: 2rem;
  @apply font-bold mb-4 mt-16;
}
h2 {
  @apply font-bold text-3xl mb-3 mt-12;
}
h3 {
  @apply font-bold text-2xl mb-3 mt-12;
}
h4 {
  @apply font-bold mb-2 mt-8;
  font-size: 1.36rem;
}
p {
  @apply text-lg max-w-3xl my-2;
}
hr {
  @apply border-dark-15 my-4;
}
a {
  @apply border-b-2 border-transparent;
}
a:hover {
  @apply border-yellow;
}
#particles {
  cursor: url("./image/pointer.png"), pointer;
}
particle {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: none !important;
  pointer-events: none;
  border-radius: 100%;
}
.marquee {
  animation: marquee 20s linear infinite alternate;
}
@keyframes marquee {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(-94rem);
  }
}
.burguer:hover > * {
  min-width: 100%;
  margin-bottom: 0.27rem;
  transform: scale(1.2);
}
.menu > div {
  opacity: 0;
}
.menu {
  transform: scaleX(0);
  width: 20rem;
  transform-origin: 0 0;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav,
#video {
  transition: none;
}
#nav.open .menu {
  visibility: visible;
  transform: scaleX(1);
}
#nav.open .menu > div {
  opacity: 1;
  transition: opacity 0.65s ease-in-out;
}
.blog-entry .cover{
  transition: all .1s ease-in
}
.blog-entry:hover .cover{
  @apply shadow-inner rounded;
  filter: contrast(1.3);

}
/* * BLOG POSTS STYLES */
.post * {
  @apply font-sans;
}
.post {
  @apply flex flex-col items-center max-w-4xl w-full px-6 mx-auto text-dark-90 pb-40;
}
.post h1,
.post h2,
.post h3,
.post h4 {
  max-width: 52rem;
  @apply w-full border-b pb-8 pt-2 border-dark-10;
}
.post h1 {
  @apply text-black;
}
@screen lg {
  .post h1,
  .post h2,
  .post h3,
  .post h4 {
    @apply px-6;
  }
}
.post p {
  @apply w-full text-lg leading-snug;
}
.post > p:first-child {
  /* This is de Description elem */
  background: rgba(0, 0, 0, 0.02);
  margin: 1.5rem -1rem 3rem -1rem;
  border-radius: 4px;
  padding: 2rem;
  font-size: 1.25rem;
  box-sizing: content-box;
}
ol,
ul {
  @apply max-w-3xl w-full mb-4 mt-1 text-dark-90;
}
li {
  list-style-position: inside;
  @apply my-2 ml-4;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: disc;
}
li::marker {
  font-weight: bold;
}
.post pre {
  @apply overflow-auto w-full my-4 p-4 max-w-3xl;
  background: rgba(0, 0, 0, 0.03);
}
.post iframe {
  @apply w-full my-4 overflow-auto shadow-xl max-w-3xl;
  min-height: 17rem;
}
@screen lg {
  .post iframe {
    min-height: 27rem;
  }
}
.post img {
  margin: 1rem auto;
}
.post a {
  @apply italic text-black;
  background: rgba(255, 222, 0, 0.13);
  padding: 0 2px;
}
.post table {
  @apply table-auto w-full text-left my-4 p-4 max-w-3xl;
}
.post th,
.post td {
  @apply border border-dark-05 p-4 text-base;
}
.post th {
  @apply bg-dark-05 text-lg;
}
.post p > code {
  font-family: serif, sans-serif;
  @apply bg-dark-05 text-black;
  padding: 0 2px;
}
.post blockquote {
  @apply w-full bg-dark-05 border-l-8 my-6;
  border-color: #2d7ff9;
}
blockquote p {
  @apply px-4 py-6;
  margin-left: 0.3rem;
  font-size: 1.2rem !important;
}
.post.hider {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  @apply h-48 w-full min-w-full z-1 absolute bottom-0 pb-4;
}
.gradient-white-to-bottom {
  background: linear-gradient(to bottom, white 0%, rgba(0, 0, 0, 0) 90%);
}
/* Table of contents */
.toc {
  min-width: 12rem;
  max-width: 12rem;
  display: none;
  margin-top: 7.5rem;
  @apply py-4 px-2 border-l border-dark-15 mr-1;
}
@media all and (min-width: 70.7rem) {
  .toc {
    display: block;
  }
}
.toc li {
  @apply flex flex-col my-0;
}
.toc li::after {
  content: "-";
  margin-top: -1.22rem;
  @apply text-dark-10 text-lg;
}
.toc ul {
  @apply mb-2;
}
.toc .content * {
  font-size: .72rem;
  @apply text-dark-65 font-sans;
}
.toc li > ul {
  @apply border-l border-dark-10;
}
.toc ul > li > p > a,
.toc > ul > li > a {
  @apply text-dark-80;
}
.toc a {
  @apply bg-white;
}
.toc a:hover {
  @apply text-dark-90;
}
.toc ul,
.toc p {
  @apply mt-0;
}
/* INPUTS */
input:invalid,
textarea:invalid {
  box-shadow: none;
}
input:focus:invalid,
textarea:focus:invalid {
  box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.15);
  outline: 1px rgba(255, 0, 0, 0.4) dotted;
}
.img-alt {
  @apply block mx-auto text-xs text-center font-bold text-dark-55 mb-6;
}
.medium-zoom-image {
  padding: 1rem;
  cursor: pointer !important;
}
