@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
html,
body {
  overflow-x: hidden;
}
* {
  position: relative;
  scrollbar-width: thin;
  transition: all 0.09s ease-in-out;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  line-height: 1.1;
}

::-webkit-scrollbar {
  display: none;
}
h1 {
  @apply font-bold text-4xl mb-4 mt-16;
}
h2 {
  @apply font-bold text-3xl mb-3 mt-12;
}
h3 {
  @apply font-bold text-2xl mb-3 mt-12;
}
h4 {
  @apply font-bold mb-2 mt-8;
  font-size: 1.36rem
}
p {
  @apply text-lg max-w-3xl my-2;
}
hr {
  @apply border-dark-15 my-4;
}
a {
  @apply border-b-2 border-transparent;
}
a:hover {
  @apply border-yellow;
}
#particles {
  cursor: url("./image/pointer.png"), pointer;
}
.marquee {
  animation: marquee 20s linear infinite alternate;
}
@keyframes marquee {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(-94rem);
  }
}
.burguer:hover > * {
  min-width: 100%;
  margin-bottom: 0.4rem;
  transform: scale(1.2);
}
.menu > div {
  opacity: 0;
}
.menu {
  width: 0rem;
  transition: width 0.35s ease-in-out;
}
#nav {
  transition: none;
}
#nav.open .menu {
  visibility: visible;
  width: 20rem;
}
#nav.open .menu > div {
  opacity: 1;
  transition: opacity 0.65s ease-in-out;
}

/* * BLOG POSTS STYLES */
.post * {
  @apply font-sans
}
.post {
  @apply flex flex-col items-center max-w-4xl w-full px-8 mx-auto text-dark-85;
}
.post h1,
.post h2,
.post h3,
.post h4 {
  max-width: 52rem;
  @apply w-full border-b pb-8 pt-2 border-dark-10;
}
.post h1 {
  @apply text-black;
}
@screen lg {
  .post h1,
  .post h2,
  .post h3,
  .post h4 {
    @apply px-8;
  }
}
.post p {
  @apply w-full text-lg leading-snug;
}
ol,
ul {
  @apply max-w-3xl w-full mb-4 mt-1 text-dark-85;
}
li {
  list-style-position: inside;
  @apply my-2 ml-4;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: disc;
}
li::marker {
  font-weight: bold;
}
.post pre {
  @apply overflow-auto w-full my-4 p-4 max-w-3xl;
  background: rgba(0, 0, 0, 0.03);
}
.post iframe {
  @apply w-full my-4 overflow-auto shadow-xl max-w-3xl;
  min-height: 400px;
}
@screen lg {
  .post iframe {
    min-height: 480px;
  }
  .post pre {
    @apply table;
  }
}
.post img {
  margin: 1rem auto;
}
.post a {
  @apply italic text-black;
  background: rgba(255,222,0, .13);
  padding: 0 2px;
}
.post table {
  @apply table-auto w-full text-left my-4 p-4 max-w-3xl;
}
.post th,
.post td {
  @apply border border-dark-05 p-4 text-base;
}
.post th {
  @apply bg-dark-05 text-lg;
}
p code{
  @apply bg-dark-05 font-sans text-black;
  padding: 0 2px;
}
.post blockquote{
  @apply w-full max-w-3xl bg-dark-05 border-l-4;
  border-color: #2d7ff9
}
blockquote p{
  @apply px-4 py-6;
  margin-left: -4px;
}
